table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 5px;
}
th {
    background-color: blue;
    color: white;
}

.link{
    color: blue;
}
.link:hover{
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

h2{
    text-decoration: underline;
}